<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/css/style.css">
<body>
    <div class="headers">
        <a href="http://localhost:3000/"><img src="/img/logo.jpg"></a>
        <h1><a href="http://localhost:3000/">RxNorm-Explorer</a></h1>
    </div>
    <ul>
        <li><a href="http://localhost:3000/search">Search Database</a></li>
        <li><a href="http://localhost:3000/result">Previous Results</a></li>
    </ul>
    {{{body}}} 
</body>
</html>