<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/css/style.css">
<body>
    <div class="headers">
        <a href="http://linserv1.cims.nyu.edu:18565/"><img src="/img/logo.jpg"></a>
        <h1><a href="http://linserv1.cims.nyu.edu:18565/">RxNorm-Explorer</a></h1>
    </div>
    <ul>
        <li><a href="http://linserv1.cims.nyu.edu:18565/search">Search Database</a></li>
        <li><a href="http://linserv1.cims.nyu.edu:18565/result">Previous Results</a></li>
        {{!-- http://linserv1.cims.nyu.edu:18565/ --}}
        {{!-- http://localhost:3000/result --}}
    </ul>
    {{{body}}} 
</body>
</html>