<div>
    <table id="allQuerys">
        {{#each results as |res|}}
        <tr><th>{{@key}}</th></tr>
        <tr>
            <th>name</th>
            <th>rxcui</th>
            <th>rxaui</th>
        </tr>
        {{#each res}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.rxcui}}</td>
            <td>{{this.rxaui}}</td>
        </tr>
        {{/each}}
        {{/each}}
    </table>
</div>